.carousel-item-image {
    height: 50vh;
    width: 100%;
}

.carousel {

    &__text {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2em;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: $menu-color;
        width: 30em;
        height: 2em;
    }
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .carousel {
        &__button {}
    }

}