.carousel-item-image {
    height: 50vh;
    width: 100%;
}

.carousel {

    &__text {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2em;
        background-color: $menu-color;
        height: auto;
    }
}

.carousel-caption {
    background-color: $menu-color;
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .carousel {
        &__button {}
    }

}