.description {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;


    &__presentation {
        padding-top: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        &__title {
            text-align: center;
            color: white;
            width: 100%;
        }

        &__introduction {
            margin-top: 1em;
            display: inline-block;
            background-color: $menu-color;
            color: white;
            text-align: center;
        }
    }

    &__services {
        text-align: center;
        padding: 1em;

        &__title {
            color: white;
            margin-bottom: 1em;
        }

    }

    &__services__content {


        &__items {
            background-color: $menu-color;
            color: white;
            width: 100%;
            padding: 1em;
            margin-bottom: 1em;

            &__title {
                margin: 0.5em;
            }
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 778px) {}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) {
    .description {

        &__presentation {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;


        }

        &__services__content {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;


            &__items {
                width: 30em;
            }
        }
    }
}

// Large devices (desktops, 1224px and up)
@media (min-width: 1804px) {
    .description {
        height: 100vh;
    }
}