@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo bhaina';
    background-color: $menu-text-color;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: lighten($menu-text-color, 10%);
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}