@import url('https://fonts.googleapis.com/css?family=Acme');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
    background: -webkit-linear-gradient(right, rgb(52, 32, 143), rgb(81, 140, 212));
    background: -moz-linear-gradient(right, rgb(52, 32, 143), rgb(81, 140, 212));
    background: -ms-linear-gradient(right, rgb(52, 32, 143), rgb(81, 140, 212));
    background: -o-linear-gradient(right, rgb(52, 32, 143), rgb(81, 140, 212));
    background: linear-gradient(to left, rgb(52, 32, 143), rgb(81, 140, 212));
    color: black;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: $a-hover;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h2 {
    font-size: 1.4em;
}

html {
    box-sizing: border-box;
}