@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo bhaina';
    background: -webkit-linear-gradient(right, rgb(177, 22, 22), rgb(5, 5, 145));
    background: -moz-linear-gradient(right, rgb(177, 22, 22), rgb(5, 5, 145));
    background: -ms-linear-gradient(right, rgb(177, 22, 22), rgb(5, 5, 145));
    background: -o-linear-gradient(right, rgb(177, 22, 22), rgb(5, 5, 145));
    background: linear-gradient(to left, rgb(177, 22, 22), rgb(5, 5, 145));
    color: black;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: lighten($menu-text-color, 10%);
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}