@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=VT323");
html {
  box-sizing: border-box; }

body {
  font-family: 'VT323', monospace;
  background: -webkit-linear-gradient(right, #34208f, #518cd4);
  background: -moz-linear-gradient(right, #34208f, #518cd4);
  background: -ms-linear-gradient(right, #34208f, #518cd4);
  background: -o-linear-gradient(right, #34208f, #518cd4);
  background: linear-gradient(to left, #34208f, #518cd4);
  color: black; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }

a:hover {
  text-decoration: none;
  color: #bc8df1; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.carousel {
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; }

.intro__small {
  margin: auto;
  margin-bottom: 1.5em;
  padding-top: 7em;
  color: #fff; }

.description {
  width: 70%;
  margin: auto;
  margin: 1.5em auto 1.5em;
  margin-top: 0; }

.news__item {
  margin-top: 1em;
  border: 1px solid grey;
  background-color: #3f4479; }

.news__item-content {
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em; }

.news__item-image {
  height: 12em;
  background-size: cover; }

.news__items-type {
  font-size: 0.8em;
  padding-left: 1em; }

.news__item-title {
  font-size: 1.4em;
  margin-top: 0.5em; }

.news__title {
  display: flex;
  justify-content: center; }

.news__item-text {
  color: #a09d9d; }

@media (min-width: 768px) {
  .news__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .news__item {
    width: 48%; } }

@media (min-width: 992px) {
  .news {
    display: inherit; }
    .news__item {
      display: flex;
      width: 100%;
      height: 45vh;
      opacity: 0.6; }
    .news__item:hover {
      opacity: 0.9;
      transition-duration: 1000ms;
      transition-delay: 200ms; }
    .news__item-image {
      width: 50%;
      height: 100%;
      background-position: center; }
    .news__items-type {
      display: none; }
    .news__item-content {
      padding: 2em;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around; } }

.footer__contact button {
  width: 5em; }

.action-button {
  color: #7ABCFD;
  border: 2px solid #7ABCFD;
  border-radius: 2px;
  padding: 0.5em 3em 0.5em 0.8em;
  position: relative;
  transition: border 0.8s, padding 0.3s, color 0.8s; }
  .action-button:hover {
    color: #8C7BFC;
    border-color: #8C7BFC;
    padding-right: 4em; }
  .action-button:after {
    content: '\f178';
    font-family: 'FontAwesome';
    position: absolute;
    right: 0.7em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em; }

.menu-lg-button {
  background-color: transparent;
  border: none;
  color: white;
  margin-top: 1em; }

.menu-lg-button:hover {
  color: #bc8df1; }

.menu-xs a {
  font-size: 1.2em;
  color: black; }

.menu-xs__user {
  font-size: 1.5em; }

.menu-xs__user a {
  margin-top: 2em;
  color: black; }

.menu-lg {
  display: none; }

.menu__login {
  display: flex;
  justify-content: space-around;
  color: white; }
  .menu__login a {
    color: white; }

.menu__login a {
  color: white;
  margin-top: 1em; }

@media (min-width: 768px) {
  .menu-lg {
    display: initial;
    height: 100vh;
    background-color: #242752;
    width: 18em;
    position: fixed; }
    .menu-lg__video {
      margin-top: 8em; }
    .menu-lg__user {
      margin-top: 8em;
      text-align: center; }
  .menu-hide {
    display: none; }
  .menu__login {
    flex-wrap: wrap;
    justify-content: initial;
    height: 5em; }
  .menu-xs {
    display: none; }
  .main {
    margin-left: 18em;
    transition-property: margin-left;
    transition-duration: 0.5s; }
  .footer {
    margin-left: 18em;
    transition-property: margin-left;
    transition-duration: 0.5s; }
  .main-hide {
    margin-left: 4.5em; }
  .footer-hide {
    margin-left: 4.5em; } }

.intro__small__title {
  padding-left: 0.3em;
  font-size: 2em; }

.category-button {
  font-size: 0.5em;
  line-height: 2.5em;
  width: 5em;
  background-color: #003366;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  margin: 0.1em; }

.category-button:hover {
  text-decoration: none;
  background-color: #3f4479; }

@media (min-width: 992px) {
  .category-button {
    font-size: 0.9em;
    width: 7em; } }

.learn-more-button {
  line-height: 2.5em;
  background-color: purple;
  margin-top: 2em;
  border: 1px solid white; }

.learn-more-button:hover {
  text-decoration: none; }

@media (min-width: 992px) {
  .learn-more-button {
    width: 10em; } }

.menu-lg-v-small {
  display: none; }

@media (min-width: 768px) {
  .menu-lg-v-small {
    width: 4.5em;
    height: 100vh;
    background-color: #242752;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding-bottom: 2em; }
    .menu-lg-v-small__user-links a {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-around;
      color: white;
      margin-bottom: 2em; }
    .menu-lg-v-small__user-name {
      text-transform: uppercase;
      writing-mode: vertical-rl;
      text-orientation: upright;
      margin-bottom: 6em;
      font-size: 1.2em; } }

.myButt {
  outline: none;
  border: none;
  padding: 10px;
  display: block;
  margin: 1em auto;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  position: relative;
  border: 2px solid #fff;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease; }

.one {
  border-color: #fff;
  overflow: hidden;
  color: #fff;
  margin: 0.5em; }
  .one .insider {
    background-color: #fff;
    width: 100%;
    height: 20px;
    position: absolute;
    left: -135px;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg); }
  .one:hover {
    background: -webkit-linear-gradient(left, #b11616, #050591);
    background: -moz-linear-gradient(left, #b11616, #050591);
    background: -ms-linear-gradient(left, #b11616, #050591);
    background: -o-linear-gradient(left, #b11616, #050591);
    background: linear-gradient(to right, #b11616, #050591);
    border-color: #fff;
    color: #fff; }
    .one:hover .insider {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      left: 135px; }

.team {
  margin-top: 1em;
  padding: 2em; }
  .team__logo {
    margin: 1em 0 1em 0; }
  .team__member {
    margin-bottom: 2em; }
  .team__button-update {
    width: 100%;
    height: 2em; }
  .team__form-update {
    display: none; }

.show-team-form {
  display: initial; }

/* Button found on https://www.designrush.com/resources/designskilz/cool-css-buttons/ */
/*Bouton avec animation de la bordure a bouger de là!!!*/
/*    start code for the actual button:         */
/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/
.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/
.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px; }

/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/
#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: white;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease; }

/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/
#text {
  margin-top: -35px;
  text-align: center; }

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em; }

/* 

    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #242752; }

/*
Bouton pour retourner en haut du site, a degager de là!!!
*/
#scrollToTop a {
  background-image: url("https://zupimages.net/up/18/38/ldek.png");
  background-repeat: no-repeat;
  top: 0.2em;
  height: 100px;
  position: fixed;
  right: 0.1em;
  text-indent: -50000px;
  width: 85px; }

@media (min-width: 768px) {
  #scrollToTop a {
    background-image: url("https://zupimages.net/up/18/38/ldek.png");
    background-repeat: no-repeat;
    bottom: 10px;
    height: 100px;
    position: fixed;
    right: 1em;
    text-indent: -50000px;
    width: 85px; } }

.hide {
  display: none; }

.show {
  display: initial; }


/*# sourceMappingURL=app.css.map*/