.category-button {
    line-height: 2.5em;
    width: 5em;
    background-color: purple;
    border: 1px solid white;
}

.category-button:hover {
    text-decoration: none;
    background-color: rgb(85, 2, 85);
}