.category-button {
    font-size: 0.5em;
    line-height: 2.5em;
    width: 5em;
    background-color: $menu-text-color;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    margin: 0.1em;



}



.category-button:hover {
    text-decoration: none;
    background-color: #3f4479;
}

@media (min-width: 992px) {
    .category-button {
        font-size: 0.9em;
        width: 7em;
    }
}