.equipe {
    background-color: $menu-color;
    margin: 2em;
    padding: 1em;
    color: white;


}

#text {
    color: red;
}

.equipe__form-update {
    margin-top: 1em;
    background-color: $menu-color;
}