.equipe {
    background-color: $menu-color;
    margin: 2em;
    padding: 1em;
    color: white;

    &__content {
        padding: 2em;
        border-bottom: 1px solid white;
        margin-bottom: 2em;
    }

    &__button-update {
        margin-top: 2em;
    }

    &__members {
        display: flex;
        justify-content: space-around;
        border: 1px solid white;
        padding: 1em;
    }

    &__chief li {
        border: 1px solid white;
        width: 10em;
        color: green;
    }

    &__member li {
        border: 1px solid white;
        width: 10em;
        margin: 0.2em;
        color: green;
    }
}