.learn-more-button {
    line-height: 2.5em;
    background-color: purple;
    margin-top: 2em;
    border: 1px solid white;
}

.learn-more-button:hover {
    text-decoration: none;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .learn-more-button {
        width: 10em;
    }
}