.menu-xs {
    & a {
        font-size: 1.2em;
        color: black;
    }

    &__user {
        font-size: 1.5em;
    }

    &__user a {
        margin-top: 2em;
        color: black;
    }
}


.menu-lg {
    display: none;
}

.menu__login {
    display: flex;
    justify-content: space-around;
    color: white;

    & a {
        color: white;
    }
}

.menu__login a {
    color: white;
    margin-top: 1em;
}

@media (min-width: 1024px) {

    .menu-lg {
        display: initial;
        height: 100vh;
        background-color: $menu-color;
        width: 18em;
        position: fixed;
        padding-bottom: 5em;

        &__video {
            margin-top: 1em;
        }

        &__user {
            margin-top: 2em;
            text-align: center;
        }

        &__nav {}


    }

    .menu-hide {
        display: none;
    }

    .menu__login {
        flex-wrap: wrap;
        justify-content: initial;
        height: 5em;
    }

    .menu-xs {
        display: none;
    }

    .main {
        margin-left: 18em;
        transition-property: margin-left;
        transition-duration: 0.5s;
    }

    .footer {
        margin-left: 18em;
        transition-property: margin-left;
        transition-duration: 0.5s;
    }

    .main-hide {
        margin-left: 4.5em;
    }

    .footer-hide {
        margin-left: 4.5em;
    }
}