@media (min-width: 768px) {

    .menu-lg-v-small {
        width: 4.5em;
        height: 100vh;
        background-color: $menu-color;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        padding-bottom: 2em;

        &__user-links a {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-around;
            color: white;
            margin-bottom: 2em;
        }

        &__user-name {
            text-transform: uppercase;
            writing-mode: vertical-rl;
            text-orientation: upright;
            margin-bottom: 6em;
            font-size: 1.2em;
        }
    }
}