vendor/
wp/
/content/*
!/content/themes
/content/themes/*
!/content/themes/oarena
!/content/plugins
/content/plugins/*
!/content/plugins/oarena-settings
!/content/plugins/oarena-users
!/content/plugins/oarena-create-team
!/content/plugins/oarena-update-member-team
!/content/uploads
wp-config.php