$menu-text-color: #003366;
$color-text: #FFF;
$color-brand: #7ABCFD;
$color-brand-alt: #8C7BFC;
$color-contrast: rgb(7, 8, 14);
$color-background: #000;
$color-background-alt: #FFF;

$breakpoint-medium: 500px;
$breakpoint-large: 800px;

$font-size: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

$font-familly-fallback: 'Arial, sans-serif';

$duration-slow: 0.8s;
$duration-normal: 0.5s;
$duration-fast: 0.3s;

$posts-bg-colors: (1: #6fc3df,
2: #8d82c4,
3: #ec8d81,
4: #e7b788,
5: #8ea9e8,
6: #87c5a4,
);